.join_call{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 0px 0 850px;
}




.button{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: white;
border-color:wheat wheat wheat wheat;

}
.call{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 0 0 39px;


}